<footer class="bg-dark text-light mt-5 py-4">
    <div class="container">
        <h5 class="text-center">À propos de nous</h5>
        <p class="text-center mt-3">Kubera est créée pour guider les nouveaux investisseurs dans leurs décisions financières.</p>
        <ul class="list-unstyled text-center">
            <li>Enzo Cuoc – Data Analyst</li>
            <li>Anna Meliz – Data Analyst</li>
            <li>Jules Gravier - CEO</li>
        </ul>
        <p class="text-center mt-3">© 2025 Kubera. Tous droits réservés.</p>
    </div>
</footer>
