<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prédictions des Actions</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="bg-light">

    <header class="bg-white py-3">
        <div class="container d-flex align-items-center">
            <a href="/global" class="btn btn-secondary me-3">Page Globale</a>
            <img src="{{ url_for('static', filename='logo.webp') }}" alt="Kubera Logo" style="height: 60px;">
            <h1 class="ms-3">Kubera</h1>
        </div>
    </header>


    <div class="container mt-5">
        <h1 class="text-center mb-4">Page Gloable</h1>

        <!-- Paragraphe de présentation du projet -->
        <p class="text-center mt-3">
            Cetta page est dédié à l'analyse détaillée du ticker selectionné
        </p>
                
        <!-- Ajout du titre "Magnificent Seven" -->
        <!--<h2 class="text-center mt-4">Magnificent Seven</h2>-->

        <form method="POST" action="/" class="bg-white p-4 shadow rounded">
            <div class="mb-3">
                <label for="ticker" class="form-label">Sélectionnez un ticker :</label>
                <select name="ticker" id="ticker" class="form-select">
                    {% for ticker in tickers %}
                    <option value="{{ ticker }}" {% if ticker == selected_ticker %}selected{% endif %}>
                        {{ ticker }}
                    </option>
                    {% endfor %}
                </select>
            </div>  

            <!--<div class="mb-3">
                <label for="timeframe" class="form-label">Sélectionnez une période :</label>
                <select name="timeframe" id="timeframe" class="form-select">
                    <option value="1D" {% if timeframe == "1D" %}selected{% endif %}>1 Jour</option>
                    <option value="1W" {% if timeframe == "1W" %}selected{% endif %}>1 Semaine</option>
                    <option value="1M" {% if timeframe == "1M" %}selected{% endif %}>1 Mois</option>
                    <option value="1Y" {% if timeframe == "1Y" %}selected{% endif %}>1 An</option>
                    <option value="max" {% if timeframe == "max" %}selected{% endif %}>Max</option>
                </select>
            </div>-->

            <!--<form method="POST" action="/" class="bg-white p-4 shadow rounded">
                <div class="input-group mb-3">
                    <input type="number" step="0.01" name="investment" id="investment" class="form-control" placeholder="Montant en euros" value="{{ user_investment }}">
                    <button type="submit" name="action" value="calculate_investment" class="btn btn-success">Calculer</button>
                </div>
            </form>
            <div class="text-center mt-4">
                <button type="submit" class="btn btn-primary">Prédire</button>
            </div>
        </form>-->

        <!-- Section d'affichage des résultats -->
         <!--<div class="mt-5">
            {% if prediction %}
            <div class="alert alert-info">
                <h4 class="alert-heading">Résultats de la prédiction :</h4>
                <p>{{ prediction }}</p>
            </div>
            {% endif %}
        </div>-->

    </div>
    
    <!-- Footer -->
    <footer class="bg-white text-center py-3 mt-5 border-top">
        <div class="container">
            <p>&copy; 2025 Kubera. Tous droits réservés.</p>
        </div>
    </footer>

    <!-- Bootstrap JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
